@model IEnumerable<SinExWebApp20256461.Models.Currency>

@{
    ViewBag.Title = "Currencies";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExchangeRate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CurrencyCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExchangeRate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CurrencyCode })
        </td>
    </tr>
}

</table>
